{% extends "layout.njk" %}

{% set title = t('Money claim') %}
{% set heading = t('What documents did you serve?') %}

{% from "form.njk" import csrfProtection, textArea, checkboxGroup, saveAndContinueButton, errorSummary %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {{
        checkboxGroup(
          label = 'What documents did you serve?',
          legendHidden = true,
          name = 'documentTypes',
          options = [
          { label: 'Particulars of claim', value: 'particularsOfClaim' },
          { label: 'Response pack', value: 'responsePack' },
          { label: 'Schedule of loss', value: 'scheduleOfLoss' },
          { label: 'Medical report(s)', value: 'medicalReport' },
          { label: 'Other', value: 'other' }
          ],
          form = form
          )
        }}

        <div class="form-group panel panel-border-narrow js-hidden" id="documentTypes-other">
          {{ textArea(t('List them here:'), 'otherDocuments', form) }}
        </div>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
