version: '2.1'

services:
    legal-integration-tests:
      image: hmctspublic.azurecr.io/cmc/legal-integration-tests:${LEGAL_INTEGRATION_TESTS_VERSION:-latest}
      command: test:integration --grep @smoke-test
      environment:
        - WEB_DRIVER_HOST=remote-webdriver
        - LEGAL_APP_URL=${TEST_URL}
        - http_proxy
        - https_proxy
        - no_proxy
        - no_proxy=remote-webdriver
        - IDAM_URL
        - CLAIM_STORE_URL
        - SMOKE_TEST_SOLICITOR_USERNAME
        - SMOKE_TEST_USER_PASSWORD
        - OAUTH_CLIENT_SECRET
      volumes:
        - ./smoke-output:/usr/src/app/output
    remote-webdriver:
      image: selenium/standalone-chrome:3.8.1

