{% extends "layout.njk" %}

{% set title = t('Money claim') %}
{% set heading = t('Issue civil court proceedings') %}

{% from "form.njk" import submitButton %}

{% block content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h2 class="heading-medium">Who this service is for</h2>

    <p>To use this service you must be

    <ul class="list list-bullet">
      <li>a legal representative</li>
      <li>issuing an 'unspecified claim' (you don't know the exact claim value)</li>
    </ul>

    <h2 class="heading-medium">What this service does</h2>

    <p>This service is an alternative to posting a completed N1 claim form - it allows you to:</p>

    <ul class="list list-bullet">
      <li>issue civil court proceedings in the County Court</li>
      <li>instantly calculate and pay the issue fee</li>
      <li>download the sealed claim form to serve on the defendant yourself</li>
    </ul>

    <p>It normally takes 15 minutes to complete<p>

      <a class="button button-start" href="what-type-of-claimant" role="button">Start now</a>

      <br>

    <h3 class="heading-small" style="padding-top: 16px;">Before you start</h3>

    <p>You'll need:</p>

    <ul class="list list-bullet">
      <li>current addresses for all claimants and defendants</li>
      <li>the address you want to serve the claim to</li>
      <li>your client's permission to issue the claim</li>
      <li>a credit card or Fee Account to pay the <a href="https://www.gov.uk/make-court-claim-for-money/court-fees">issue fee</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
