{% extends "layout.njk" %}
{% from "form.njk" import saveAndContinueButton, errorSummary, textArea %}
{% set heading = t("Briefly describe the claim") %}

{% set title = t('Money claim') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ t("Tell us:") }}</p>
      <ul class="list list-bullet">
        <li>{{ t("the type of claim") }}</li>
        <li>{{ t("what you expect to recover, for example payment of money") }}</li>
      </ul>

      <p>{{ t("You don't need to include particulars of claim here - serve them on the defendant when you get your sealed claim form.") }}</p>
      <form novalidate method="post">
        {{ textArea(label = '', name = 'summary', form = form, rows = 10) }}
        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
