{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, radioOption, textInputInline %}

{% set title = t('Money claim') %}
{% set heading = t('Enter claim value') %}


{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}
        <p> {{ t("Your fee will be calculated based on the higher value.") }} </p>

        <div class="form-group">
          {% set errorLowerValue = form.errorFor('lowerValue') %}
          <div class="column-one-half no-padding {% if errorLowerValue %} form-group-error {% endif %}">
            <span class="form-block">{{ t('Lower value (optional)') }} </span>
            {{ textInputInline( 'lowerValue', form,'form-control-3-4', 'input-symbol-pound') }}
          </div>
          {% set errorUpperValue = form.errorFor('upperValue') %}
          <div class="column-one-half no-padding {% if errorUpperValue %} form-group-error {% endif %}">
            <span class="form-block">{{ t('Higher value') }} </span>
            {{ textInputInline( 'upperValue', form, 'form-control-3-4','input-symbol-pound') }}
          </div>
        </div>

        {% set errorType = form.errorFor('cannotState') %}
        <div class="form-group">
          <fieldset class="form-group {% if errorType %} form-group-error {% endif %}">
            <legend class="visuallyhidden">
              {{ t("I can't state the value of the claim") }}
            </legend>

            {% if errorType %}<span class="error-message">{{ t(errorType) }}</span>{% endif %}
            <div class="multiple-choice" data-target="max-fee">
              <input id="cannotStateType" type="checkbox" name="cannotState" value="cannot">
              <label for="cannotStateType">{{ t("I can't state the value of the claim") }} </label>
            </div>

            <div class="form-group panel panel-border-narrow js-hidden" id="max-fee" aria-hidden="false">
              <p>{{ t("You'll be charged the maximum fee") }}</p>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
