{% extends "layout.njk" %}

{% set title = t('Money claim') %}
{% set heading = t('Enter claimant name') %}

{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textInput %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        <p>{{ t('You’ll have a chance to add more claimants later.') }}</p>

        {{ textInput(t('Name'), 'value', form) }}

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
