{% extends "layout.njk" %}

{% set title = t('Money claim') %}
{% set heading = t('Do you want to add another defendant?') %}

{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textInput, radioGroup %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ t('You can add up to 4 defendants in this service.') }}</p>
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

      {{
        radioGroup(
          label = "Do you want to add another defendant?",
          name = "isAddDefendant",
          options = [
          {
            label: "Yes",
            value: "YES"
          },
          {
            label: "No",
            value: "NO"
          }
          ],
          form = form,
          isInline = true,
          legendHidden = true
        )
      }}

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
      {% if defendants %}
       <div>
        <h1 class="heading-medium">
        {{ t('Already added') }}
        </h1>
        <div class="task-list-item">
          <div class="column-one-quarter bold">{{ t('Number') }}</div>
          <div class="column-one-half bold">{{ t('Defendant name') }}</div>
          <div class="column-one-quarter bold">{{ t('Action') }}</div>
        </div>
        <hr class="column-full">

        {% for defendant in defendants %}

          <div class="task-list-item">
            <div class="column-one-quarter">{{ loop.index }}</div>
            <div class="column-one-half">{{ defendant.defendantDetails.toString() }}</div>
            <div class="column-one-quarter"><a class="link" href="/legal/claim/defendant-remove?index={{ loop.index }}">{{ t('Remove') }}</a></div>
            <hr class="column-full">
          </div>

        {% endfor %}
       </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
