{% extends "layout.njk" %}
{% from "table.njk" import tableStart,tableEnd, row, rowWithMultipleValue %}
{% from "form.njk" import csrfProtection, saveAndContinueButton %}

{% set title = t("Money claim") %}
{% set heading = t('Check the claim details') %}

{% block content %}
  <form novalidate method="post" class="form-group">
    {{ csrfProtection(csrf) }}

    <p>{{ t('Make sure this information is correct before you issue.') }}</p>

    {{ tableStart('organisationDetails', 'Your organisation details') }}
    {{ row('Organisation name', legalClaimDraft.representative.organisationName.name, paths.representativeNamePage.uri) }}

    {{ rowWithMultipleValue(
    label = 'Address',
    values = [legalClaimDraft.representative.address.line1,
    legalClaimDraft.representative.address.line2,
    legalClaimDraft.representative.address.city,
    legalClaimDraft.representative.address.postcode],
    changeLink = paths.representativeAddressPage.uri,
    bottomBorder = true
    ) }}

    {{ row('Phone number', legalClaimDraft.representative.contactDetails.phoneNumber, paths.representativeContactsPage.uri) }}
    {{ row('Email', legalClaimDraft.representative.contactDetails.email, paths.representativeContactsPage.uri) }}
    {{ row('DX address', legalClaimDraft.representative.contactDetails.dxAddress, paths.representativeContactsPage.uri) }}

    {{ row('Your reference number', legalClaimDraft.yourReference.reference, paths.yourReferencePage.uri) }}
    {{ row('Preferred court', legalClaimDraft.preferredCourt.name, paths.preferredCourtPage.uri) }}
    {{ tableEnd() }}

    {% for claimant in legalClaimDraft.claimants %}

      {% if loop.length == 1 %}

        {{ tableStart('claimantDetails', 'Claimant details') }}
        {% set changeClaimantLink = paths.claimantTypePage.uri %}
        {% set changeClaimantAddressPageLink = paths.claimantAddressPage.uri %}
      {% else %}
        {% set changeClaimantLink = '/legal/claim/claimant-change?index='+ loop.index %}
        {% set changeClaimantAddressPageLink = '/legal/claim/claimant-change?index='+ loop.index + '&page=address' %}
        {{ tableStart('claimantDetails'+loop.index, 'Claimant ' + loop.index + ' details') }}
      {% endif %}

      {% if claimant.claimantDetails.title %}
        {% set claimantFullName = claimant.claimantDetails.title + ' ' + claimant.claimantDetails.fullName %}
      {% else %}
        {% set claimantFullName = claimant.claimantDetails.fullName %}
      {% endif %}

      {% if claimant.claimantDetails.type.value === 'INDIVIDUAL' %}
        {{ row('Name', claimantFullName, changeClaimantLink) }}
      {% else %}
        {{ row('Organisation name', claimant.claimantDetails.organisation, changeClaimantLink) }}
        {{ row('Companies House number', claimant.claimantDetails.companyHouseNumber, changeClaimantLink) }}
      {% endif %}

      {{ rowWithMultipleValue(
      label = 'Address',
      values = [claimant.address.line1,
      claimant.address.line2,
      claimant.address.city,
      claimant.address.postcode],
      changeLink = changeClaimantAddressPageLink,
      bottomBorder = true
      ) }}
      {{ tableEnd() }}
    {% endfor %}

    {% for defendant in legalClaimDraft.defendants %}
      {% if loop.length == 1 %}
        {{ tableStart('defendantDetails', 'Defendant details') }}
        {% set changeDefendantLink = paths.defendantTypePage.uri %}
        {% set changeDefendantAddressPageLink = paths.defendantAddressPage.uri %}
        {% set changeRepresentativeLink = paths.defendantRepresentedPage.uri %}
        {% set changeRepresentativeAddressLink = paths.defendantRepAddressPage.uri %}
        {% set changeServiceAddressLink = paths.defendantServiceAddressPage.uri %}
      {% else %}
        {% set changeDefendantLink = '/legal/claim/defendant-change?index='+ loop.index %}
        {% set changeDefendantAddressPageLink = '/legal/claim/defendant-change?index='+ loop.index + '&page=address' %}
        {% set changeRepresentativeLink = '/legal/claim/defendant-change?index='+ loop.index  + '&page=represented' %}
        {% set changeRepresentativeAddressLink = '/legal/claim/defendant-change?index='+ loop.index  + '&page=reps-address' %}
        {% set changeServiceAddressLink = '/legal/claim/defendant-change?index='+ loop.index  + '&page=service-address' %}
        {{ tableStart('defendantDetails'+loop.index, 'Defendant ' + loop.index + ' details') }}
      {% endif %}
      {% if defendant.defendantDetails.type.value == 'INDIVIDUAL' %}
        {% if defendant.defendantDetails.title %}
          {% set defendantFullName = defendant.defendantDetails.title + ' ' + defendant.defendantDetails.fullName %}
        {% else %}
          {% set defendantFullName = defendant.defendantDetails.fullName %}
        {% endif %}
        {{ row('Name', defendantFullName, changeDefendantLink) }}
      {% else %}
        {{ row('Organisation name', defendant.defendantDetails.organisation, changeDefendantLink) }}
        {{ row('Companies House number', defendant.defendantDetails.companyHouseNumber, changeDefendantLink) }}
      {% endif %}

      {{ rowWithMultipleValue(
      label = 'Address',
      values = [defendant.address.line1,
      defendant.address.line2,
      defendant.address.city,
      defendant.address.postcode],
      changeLink = changeDefendantAddressPageLink,
      bottomBorder = true
      ) }}

      {% if defendant.defendantRepresented.isDefendantRepresented.value =='YES' %}
        {{ row('Solicitor', defendant.defendantRepresented.organisationName, changeRepresentativeLink) }}

        {{ rowWithMultipleValue(
        label = 'Service address',
        values = [defendant.representative.address.line1,
        defendant.representative.address.line2,
        defendant.representative.address.city,
        defendant.representative.address.postcode],
        changeLink = changeRepresentativeAddressLink,
        bottomBorder = true
        ) }}
      {% endif %}
      {% if defendant.defendantRepresented.isDefendantRepresented.value == 'NO' and defendant.serviceAddress.defendantsAddress.value == 'NO' %}

        {{ rowWithMultipleValue(
        label = 'Service address',
        values = [defendant.serviceAddress.line1,
        defendant.serviceAddress.line2,
        defendant.serviceAddress.city,
        defendant.serviceAddress.postcode],
        changeLink = changeServiceAddressLink,
        bottomBorder = true
        ) }}
      {% endif %}
      {{ tableEnd() }}
    {% endfor %}

    {{ tableStart('aboutClaim', 'About this claim') }}
    {{ row('Brief details of claim', legalClaimDraft.summary.text, paths.summariseTheClaimPage.uri) }}
    {{ row('Claim amount', 'To be assessed', paths.claimAmountPage.uri) }}

    {% if legalClaimDraft.amount.lowerValue and legalClaimDraft.amount.higherValue %}
      {% if legalClaimDraft.amount.lowerValue == legalClaimDraft.amount.higherValue %}
        {% set amountStatementOfValue %}
          {{ t('The claimant expects to recover up to %s', { postProcess: 'sprintf', sprintf: [legalClaimDraft.amount.higherValue | numeral ]}) }}
        {% endset %}
      {% else %}
        {% set amountStatementOfValue %}
          {{ t('The claimant expects to recover up to %s. The claimant estimates the claim to be worth more than %s', { postProcess: 'sprintf', sprintf: [legalClaimDraft.amount.higherValue | numeral, legalClaimDraft.amount.lowerValue | numeral ]}) }}
        {% endset %}
      {% endif %}
    {% elseif legalClaimDraft.amount.higherValue %}
      {% set amountStatementOfValue %}
        {{ t('The claimant expects to recover up to %s', { postProcess: 'sprintf', sprintf: [legalClaimDraft.amount.higherValue | numeral ]}) }}
      {% endset %}
    {% else %}
      {% set amountStatementOfValue %}
        {{ t("The claimant can't state the value of the claim.") | safe }}
      {% endset %}
    {% endif %}

    {% if isPersonalInjury %}
      {% set personalInjuryStatementOfValue %}
        {% if legalClaimDraft.personalInjury.generalDamages.value == 'LESS' %}
          {% set damages = 'not more than £1,000' %}
        {% else %}
          {% set damages = 'more than £1,000' %}
        {% endif %}
        {{ t('This claim is for personal injury. The claimant expects to recover %s as damages for pain, suffering and loss of amenity.', { postProcess: 'sprintf', sprintf: [damages]}) }}
      {% endset %}
    {% endif %}

    {% if isHousingDisrepair %}
      {% set housingDisrepairStatementOfValue %}
        {% if legalClaimDraft.housingDisrepair.generalDamages.value == 'LESS' %}
          {% set housingDisrepairDamages = 'not more than £1,000' %}
        {% else %}
          {% set housingDisrepairDamages = 'more than £1,000' %}
        {% endif %}

        {% if legalClaimDraft.housingDisrepair.otherDamages.value == 'LESS' %}
          {% set housingDisrepairOtherDamages = 'The cost of any claim for damages is not more than £1,000.' %}
        {% elseif legalClaimDraft.housingDisrepair.otherDamages.value == 'MORE' %}
          {% set housingDisrepairOtherDamages = 'The cost of any claim for damages is more than £1,000.' %}
        {% else %}
          {% set housingDisrepairOtherDamages = '' %}
        {% endif %}
        {% if isPersonalInjury and isHousingDisrepair %}
          {% set also = 'also ' %}
        {% else %}
          {% set also = '' %}
        {% endif %}
        {{ t(' This is %sa claim for housing disrepair which includes an order for the landlord to carry out work. The cost of repairs or other work is %s. %s', { postProcess: 'sprintf', sprintf: [also, housingDisrepairDamages, housingDisrepairOtherDamages]}) }}
      {% endset %}
    {% endif %}

    {{ rowWithMultipleValue(
    label = 'Statement of value',
    values = [personalInjuryStatementOfValue, housingDisrepairStatementOfValue, amountStatementOfValue],
    changeLink = paths.personalInjuryPage.uri,
    bottomBorder = true
    ) }}

    {{ row('Issue fee', feeAmount | numeral ) }}

    {{ tableEnd() }}

    <div class="form-group">
      {{ saveAndContinueButton() }}
    </div>

  </form>

{% endblock %}
