{% extends "layout.njk" %}

{% set title = t('Money claim') %}
{% set heading = t('Is it a claim for housing disrepair?') %}

{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, radioOption  %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {% set errorDisrepair = form.errorFor('housingDisrepair') %}
        <fieldset id="housingDisrepair[label]" class="form-group {% if errorDisrepair %} form-group-error {% endif %}">
          <legend class="visuallyhidden">
            {{ t("Is it a claim for housing disrepair?") }}
          </legend>
          <div class="inline">
            {% if errorDisrepair %}<span class="error-message">{{ t(errorDisrepair) }}</span>{% endif %}
            <div class="multiple-choice" data-target="housing-disrepair-yes">
              <input id="housing_disrepair_yes" type="radio" name="housingDisrepair" value="YES" {% if form.valueFor('housingDisrepair.value') == 'YES' %} checked {% endif %}>
              <label for="housing_disrepair_yes">{{ t('Yes') }}</label>
            </div>

            <div class="multiple-choice">
              <input id="housing_disrepair_no" type="radio" name="housingDisrepair" value="NO" {% if form.valueFor('housingDisrepair.value') == 'NO' %} checked {% endif %}>
              <label for="housing_disrepair_no">{{ t('No') }}</label>
            </div>
          </div>
        </fieldset>

        {% set errorGeneral = form.errorFor('generalDamages') %}
        {% set errorOther = form.errorFor('otherDamages') %}
        <div class="form-group panel panel-border-narrow js-hidden {% if errorDamages %} form-group-error {% endif %}" id="housing-disrepair-yes" aria-hidden="false">
          <fieldset id="generalDamages[label]" class="form-group">
            <legend class="form-group-compound form-label-bold">
                {{ t("How much do you expect to recover as general damages for the cost of repairs or other work?") }}
            </legend>
            {% if errorGeneral %}<span class="error-message">{{ t(errorGeneral) }}</span>{% endif %}
            {{ radioOption(form = form, name = 'generalDamages[value]', value = 'LESS',
            label = t('£1,000 or less'), bold = false
            )}}

            {{ radioOption(form = form, name = 'generalDamages[value]', value = 'MORE',
            label = t('More than £1,000'), bold = false
            )}}
          </fieldset>

          <fieldset id="otherDamages[label]" class="form-group">
            <legend class="form-group-compound form-label-bold">
                {{ t("How much do you expect to recover for other damages besides the cost of repairs?") }}
            </legend>
            {% if errorOther %}<span class="error-message">{{ t(errorOther) }}</span>{% endif %}
            {{ radioOption(form = form, name = 'otherDamages[value]', value = 'NONE',
            label = t("I'm not claiming for other damages"), bold = false
            )}}

            {{ radioOption(form = form, name = 'otherDamages[value]', value = 'LESS',
            label = t('£1,000 or less'), bold = false
            )}}

            {{ radioOption(form = form, name = 'otherDamages[value]', value = 'MORE',
            label = t('More than £1,000'), bold = false
            )}}
          </fieldset>
        </div>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
