{% extends "layout.njk" %}

{% set title = t('Money claim') %}
{% set heading = t('Is it a claim for housing disrepair seeking an order for a landlord to carry out work?') %}

{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, radioGroup  %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {{
          radioGroup(
            label = "Is it a claim for housing disrepair seeking an order for a landlord to carry out work?",
            name = "housingDisrepair",
            options = [
            {
              label: "Yes",
              value: "YES"
            },
            {
              label: "No",
              value: "NO"
            }
            ],
            form = form,
            isInline = true,
            legendHidden = true
          )
        }}

        <div class="form-group panel panel-border-narrow js-hidden" id="housingDisrepair-YES" aria-hidden="false">
          {{
            radioGroup(
              label = "How much do you expect to recover as general damages for the cost of repairs or other work?",
              name = "generalDamages",
              options = [
              {
                label: "£1,000 or less",
                value: "thousandPoundsOrLess"
              },
              {
                label: "More than £1,000",
                value: "moreThanThousandPounds"
              }
              ],
              form = form
            )
          }}

          {{
            radioGroup(
              label = "How much do you expect to recover for other damages besides the cost of repairs?",
              name = "otherDamages",
              options = [
              {
                label: "I'm not claiming for other damages",
                value: "none"
              },
              {
                label: "£1,000 or less",
                value: "thousandPoundsOrLess"
              },
              {
                label: "More than £1,000",
                value: "moreThanThousandPounds"
              }
              ],
              form = form
            )
          }}
        </div>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
