{% extends "layout.njk" %}

{% set title = t('Money claim') %}
{% set heading = t('Is it a personal injury claim?') %}

{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, radioGroup  %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {{
          radioGroup(
            label = "Is it a personal injury claim?",
            name = "personalInjury",
            options = [
            {
              label: "Yes",
              value: "YES"
            },
            {
              label: "No",
              value: "NO"
            }
            ],
            form = form,
            isInline = true,
            legendHidden = true
          )
        }}

        <div class="panel panel-border-narrow js-hidden" id="personalInjury-YES" aria-hidden="false">
          {{
            radioGroup(
              label = "How much do you expect to recover as general damages for pain, suffering and loss of amenity?",
              name = "generalDamages",
              options = [
              {
                label: "£1,000 or less",
                value: "LESS"
              },
              {
                label: "More than £1,000",
                value: "MORE"
              }
              ],
              form = form
            )
          }}
        </div>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
