{% extends "layout.njk" %}

{% set title = t('Money claim') %}
{% set heading = t('Choose court location') %}

{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textInput %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ t('This should be your preferred County Court hearing centre.') }}</p>
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {{ textInput('', 'name', form, t('Optional')) }}
        <div class="form-group"><a target="_blank" rel="noopener noreferrer"
           href="https://courttribunalfinder.service.gov.uk/search/postcode?aol=Money+claims&spoe=nearest">
          {{ t('Find a hearing centre') }}
        </a> ({{ t('opens in a new window') }})</div>
        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
