{% extends "layout.njk" %}

{% set title = t('Money claim') %}
{% set heading = t('Enter your details') %}

{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textInput  %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ t('Your company name') }}</p>
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {{ textInput('', 'name', form) }}
        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
