{% extends "layout.njk" %}

{% set title = t('Money claim') %}
{% set heading = t('Your organisation contact details') %}

{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textInput %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ t("The defendant can use these details to contact you - they'll also appear on the sealed claim form.") }}</p>
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {{ textInput(t('Phone number (optional)'), 'phoneNumber', form) }}
        {{ textInput(t('Email (optional)'), 'email', form) }}
        {{ textInput(t('DX address (optional)'), 'dxAddress', form) }}
        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
