{% extends "layout.njk" %}

{% set title = t('Money claim') %}
{% set heading = t('Issue civil court proceedings') %}

{% from "form.njk" import linkButton, csrfProtection %}

{% block content %}

  <h2 class="heading-medium">{{ t('Who this service is for') }}</h2>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ t('To use this service you must be') }}</p>

      <ul class="list list-bullet">
        <li>{{ t('a legal representative') }}</li>
        <li>{{ t('issuing a claim for an unfixed (unspecified) amount of money') }}</li>
        <li>{{ t('serving the claim yourself') }}</li>
      </ul>

      <p>{{ t("The claimants you represent and defendants you claim against must be 18 or older. They can't be protected parties.") }}</p>

      <h2 class="heading-medium">{{ t('What this service does') }}</h2>

      <p>{{ t('This service is an alternative to posting a completed N1 claim form - it allows you to:') }}</p>

      <ul class="list list-bullet">
        <li>{{ t('issue civil court proceedings in the County Court') }}</li>
        <li>{{ t('calculate and pay the issue fee using Fee Account') }}</li>
        <li>{{ t('download the sealed claim form to serve on the defendant yourself') }}</li>
      </ul>

      <p>{{ t('For claims issued after 4pm, at weekends, or on bank holidays the issue date is the next working day.') }}</p>

      <p>{{ t('It normally takes 15 minutes to complete.') }}<p>
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}
        {{ linkButton('Start now', 'start', 'button button-start') }}
      </form>

      <h3 class="heading-small">{{ t('Before you start') }}</h3>

      <p>{{ t("You'll need:") }}</p>
      <div>
        <ul class="list list-bullet">
          <li>{{ t('current addresses for all claimants and defendants') }}</li>
          <li>{{ t('the address you want to serve the claim to') }}</li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
