{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textInput %}

{% set title = t('Money claim') %}

{% block content %}
  <h1 class="heading-large">{{ t("Statement of truth") }}</h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}
        <div class="form-group-compound">

          <p>{{ t("The claimant believes that the facts in this claim form is true. I'm duly authorised by the claimant to sign this statement.") }}</p>
          {{ textInput('Name', 'signerName', form) }}

          <div class="form-group">
            <pre>{{ t('Company ') }} </pre>
            <pre class="form-label-bold">{{ companyName }}</pre>
          </div>

          {{ textInput('Your role', 'signerRole', form) }}
        </div>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>

    </div>
  </div>
{% endblock %}
