{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textInput %}

{% set title = t('Money claim') %}
{% set heading = t('Statement of truth') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}
        <div class="form-group-compound">

          <p>{{ t("The claimant believes that the facts in this claim form are true.")}} <br>
            {{ t("I'm duly authorised by the claimant to sign this statement.")}}</p>

          <p>{{ t("I understand that proceedings for contempt of court may be brought against anyone who makes,
          or causes to be made, a false statement in a document verified
          by a statement of truth without an honest belief in its truth.") }}</p>
          {{ textInput(t('Name'), 'signerName', form) }}

          <div class="form-group">
            <pre>{{ t('Organisation ') }} </pre>
            <pre class="form-label-bold">{{ organisationName }}</pre>
          </div>

          {{ textInput(t('Your role'), 'signerRole', form) }}
        </div>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>

    </div>
  </div>
{% endblock %}
