{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textArea %}

{% set title = t('Money claim') %}
{% set heading = t("Summarise the claim") %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>{{ t("Enter a short statement about the nature of the claim and the remedy you seek, for example payment of money.") }}</p>
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {{ textArea(label = '', name = 'text', form = form, rows = 10) }}
        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
