{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textArea %}

{% set title = t('Money claim') %}
{% set heading = t("Briefly describe the claim") %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>{{ t('Tell us:') }}</p>

      <ul class="list list-bullet">
        <li>{{ t("the type of claim, for example 'rent arrears' or 'damages'") }}</li>
        <li>{{ t('what you expect to recover') }}</li>
      </ul>
      <p>{{ t("You don't need to include particulars of claim here - serve them on the defendant when you get your sealed claim form.") }}</p>
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {{ textArea(label = '', name = 'text', form = form, inputClass='full-width-textarea', rows = 10) }}
        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
