{% extends "layout.njk" %}

{% set title = t('Forbidden | Money Claim') %}
{% set heading = t('Forbidden') %}

{% block content %}
  <p>
    {{ t('<a href="/legal/">Return to the claims home page</a>') | safe }}
  </p>
{% endblock %}
