{% extends "layout.njk" %}

{% set title = t('Forbidden | Money Claim') %}
{% set heading = t('Forbidden Error') %}

{% block content %}
  <p>
    {{ t('<a href="/receiver">Return to the claims home page</a>') | safe }}
  </p>
{% endblock %}
