{% extends "layout.njk" %}

{% set title = t('Forbidden | Money Claim') %}
{% set heading = t('Forbidden') %}

{% block content %}
  <p>
    {{ t('You can return to <a href="/legal/">Money Claims</a> and start your claim again.') | safe }}
  </p>

  <a class="button" href="/legal/">{{ t('Start again') }}</a>
{% endblock %}
