{% extends "layout.njk" %}

{% set title = t('Money Claim | Page not found') %}
{% set heading = t('Page not found') %}

{% block content %}
  <p>
    {{ t('<a href="/legal/">Return to the claims home page</a>') | safe }}
  </p>
{% endblock %}
