{% extends "layout.njk" %}
{% from "form.njk" import linkButton, csrfProtection %}

{% set title = t('Money claim') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        <span class="form-hint">{{ claimNumber }}</span>
        {{ claimantVDefendant }}
      </h1>
      <h3 class="heading-medium">{{ t('Date Issued') }}
        <div class="form-label">{{ dateIssued | date }}</div>
      </h3>

      <h3 class="heading-medium">{% if claimants.length > 1 %}{{ t('Claimants') }} {% else %} {{ t('Claimant') }}{% endif %}
        {% for claimant in claimants %}
          <div class="form-label">{{ claimant.name }}</div>
        {% endfor %}
      </h3>

      {% if defendants.length > 1 %}
        <h3 class="heading-medium">{{ t('Defendants') }}</h3>
      {% else %}
        <h3 class="heading-medium">{{ t('Defendant') }}</h3>
      {% endif %}

      <div class="column-one-third form-label-bold border-bottom">{{ t('Names') }}</div>
      <div class="column-one-third form-label-bold border-bottom">{{ t('Serve by') }}</div>
      <div class="column-one-third form-label-bold border-bottom">{{ t('Certificate of service') }}</div>
      <div class="column-one-third">
        {% for defendant in defendants %}
          <div class="form-label">{{ defendant.name }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="column-one-third govuk-related-items">
      {% if heading %}
        <h3 class="heading-medium">Your reference
          <div class="form-label">{{ externalReference }}</div>
        </h3>
      {% endif %}
    </div>
  </div>
{% endblock %}
