{% extends "layout.njk" %}
{% from "form.njk" import linkButton, csrfProtection %}

{% set title = 'Money claim' %}

{% block content %}
  <div class="grid-row">
    <div class="column-full">
      <a class="link-back pointer" href="search">{{ t('Back') }}</a>
    </div>
    <div class="column-two-thirds">


      <h1 class="heading-large">
        <span class="form-hint">{{ claimNumber }}</span>
        {{ claimantVDefendant }}
      </h1>

      <h2 class="heading-medium">{{ t('Claim form') }}</h2>
      <p class="download certificate">
        <a target="_blank" rel="noopener noreferrer" href="{{ sealedClaimPath }}">{{ t('Download the sealed claim form') }}</a>
        {{ t('(PDF)') }}
      </p>

      <h2 class="heading-medium no-margin-bottom">{{ t('Parties') }}</h2>
      <hr class="no-margin-top"/>

      <h3 class="heading-small">{{ t('Claimants') if claimants.length > 1 else t('Claimant') }}</h3>
      <ol class="list{{ ' list-number' if claimants.length > 1 }}">
        {% for claimant in claimants %}
          <li>{{ claimant.name }}</li>
        {% endfor %}
      </ol>

      <h3 class="heading-small">{{ t('Defendants') if defendants.length > 1 else t('Defendant') }}</h3>

      <ol class="list{{ ' list-number' if defendants.length > 1 }}">
        {% for defendant in defendants %}
          <li>{{ defendant.name }}{{ t(' trading as ') + defendant.businessName if defendant.type === 'SOLE_TRADER'  }}</li>
        {% endfor %}
      </ol>

    </div>
    {% if externalReference %}
      <div class="column-one-third">
        <aside class="govuk-related-items mobile-indent" role="complementary">
          <h3 class="heading-small">{{ t('Your reference') }}</h3>
          <p class="form-label">{{ externalReference }}</p>
        </aside>
      </div>
    {% endif %}
  </div>
{% endblock %}
