{% extends "layout.njk" %}
{% from "form.njk" import linkButton, csrfProtection %}

{% set title = t('Money claim') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h3>{{ t('Issued') }}</h3>
      <h3>{{ t('Claimant') }}</h3>
    </div>
  </div>
{% endblock %}
