{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, errorSummary, searchInput %}

{% set header = t('Manage your claims') %}
{% set title = header + t(' - Money claims') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        <h1 class="heading-large">{{ header }}</h1>

        <h2 class="heading-medium form-group-compound">{{ t('Find a claim') }}</h2>
        <p>{{ t('Once you’ve found a claim you can:') }}</p>

        <ul class="list-bullet form-group">
          <li>{{ t('download any documents related to the claim') }}</li>
        </ul>

        {{ searchInput('Search by claim number', 'reference', form, bold=true) }}

      </form>
    </div>
    {# <div class="column-one-third">
      <aside class="govuk-related-items" role="complementary">
        <a class="button button-secondary" href="{{ startPage }}">{{ t('Issue a new claim') }}</a>
      </aside>
    </div> #}
  </div>
{% endblock %}
