{% extends "layout.njk" %}
{% from "form.njk" import linkButton, csrfProtection, errorSummary, searchInput %}

{% set title = t('Money claim') %}
{% set heading = t('Civil Money Claims') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {{ linkButton('Issue a new claim', 'start', 'button button-start') }}

        <h2 class="heading-medium">Confirm service</h2>
        <p class="form-hint">
          {{ t('Enter your reference or claim number to find a claim') }}
        </p>

        {{ searchInput('', 'reference', form) }}

      </form>
    </div>
  </div>
{% endblock %}
