$literal: #d4351c;
$white: #fff;

.govuk-warning-text {
  color: $literal;
  position: relative;
}

.govuk-warning-text-text {
  color: $literal;
  display: block;
  font-family: 'GDS Transport', arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}

.warrning-div {
  padding-left: 45px;
}

.hmcts-banner__icon {
  fill: currentColor;
  float: left;
  height: 25px;
  margin-right: 10px;
  width: 25px;
}