$literal: #d4351c;
$white: #fff;

.govuk-warning-text {
  padding: 10px 0;
  position: relative;
}

.govuk-warning-texticon {
  background: $literal;
  border: 3px solid $literal;
  border-radius: 50%;
  box-sizing: border-box;
  color: $white;
  display: inline-block;
  font-family: 'GDS Transport', arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  left: 10;
  line-height: 29px;
  margin-top: -5px;
  min-height: 35px;
  min-width: 35px;
  position: absolute;
  text-align: center;
  user-select: none;
}

.govuk-warning-text-text {
  color: $literal;
  display: block;
  font-family: 'GDS Transport', arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  margin-left: 45px;
}
