<link href="{{ asset_paths["style"] }}/application.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset_paths["style"] }}/lib/govuk_notification_banner.css" media="screen" rel="stylesheet" type="text/css"/>
