<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">This Legal Representative Private Beta service will be closing shortly. Please use the MyHMCTS service to submit a damages claim: Issue a claim for damages with <a class="govuk-notification-banner__link" href="https://www.gov.uk/government/publications/myhmcts-how-to-make-a-damages-claim-online/issue-a-claim-for-damages-with-myhmcts">MyHMCTS - GOV.UK (www.gov.uk)</a></p></div>
</div>

